//
.v-ripple__container {
  display: none !important;
}
.v-application {
  // background-color: var(--v-accent-base) !important;
  overflow-x: hidden !important;
}
.v-tooltip__content {
  word-break: break-all;
  // opacity: 1 !important;
  @extend .shadow-3;
}

.v-btn {
  // &::before {
  //   display: none !important;
  // }
  &:not(.v-btn--rounded):not(.regular):not(.v-btn--icon) {
    border-radius: 7.5px !important;
  }

  &:not(.shadow-1):not(.shadow-2):not(.shadow-3):not(.shadow-4):not(.shadow) {
    box-shadow: none !important;
  }
}
.v-input--selection-controls__ripple {
  display: none !important;
}
.v-text-field .v-input__slot {
  background-color: white !important;
}
.v-input--radio-group {
  margin: 0 !important;

  .v-radio {
    margin: 0 !important;
    direction: rtl;

    .v-label {
      margin-right: 19px;
      color: black;
    }
  }
}

.v-menu__content {
  @extend .shadow-2;
}
